<nav class="navbar navbar-expand-lg pl-sm-0 pr-sm-0 mt-4 ">

  <h1 class="text-primary">StockTracker</h1>

  <div class="collapse navbar-collapse" ></div>

  <div class="form-inline my-2 my-lg-0">
    <a href="/dashboard" class="btn btn-secondary ml-sm-2">
      Dashboard
    </a>
    <a href="/dashboard/portfolio" class="btn btn-secondary ml-sm-2">
      Portfolio
    </a>
    <a href="/dashboard/search" class="btn btn-secondary ml-sm-2">
      Search
    </a>
    <a href="/users/logout" class="btn btn-primary ml-sm-2">
      Logout
    </a>
  </div>
  
</nav>

<br />
<br />