<h1 class="mt-4">Dashboard</h1>
<a href="/dashboard" class="btn btn-secondary">Dashboard</a>
<a href="/dashboard/portfolio" class="btn btn-secondary">Portfolio</a>
<a href="/dashboard/search" class="btn btn-secondary">Search</a>
<a href="/users/logout" class="btn btn-primary">Logout</a>
<br />
<br />

<h3><%= user.name %></h3>
<h4><%= user.email %></h4>
<h5><%= user.cash %></h5>