<% include ./partials/navbar %>

<% include ./partials/messages %>
<form action="/dashboard/search" method="POST">
  <div class="form-group">
    <label for="tickerSymbol">Ticker Symbol</label>
    <input
      type="string"
      id="tickerSymbol"
      name="tickerSymbol"
      class="form-control"
      placeholder="Enter Ticker Symbol"
    />
  </div>
  <div class="form-group">
    <label for="numberOfShares">Number of Shares</label>
    <input
      type="number"
      id="numberOfShares"
      name="numberOfShares"
      class="form-control"
      placeholder="Enter Number of Shares"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">Buy</button>
</form>