<h1 class="mt-4">Search</h1>
<a href="/dashboard" class="btn btn-secondary">Dashboard</a>
<a href="/dashboard/portfolio" class="btn btn-secondary">Portfolio</a>
<a href="/dashboard/search" class="btn btn-secondary">Search</a>
<a href="/users/logout" class="btn btn-primary">Logout</a>
<br />
<br />

<form action="/dashboard/search" method="POST">
  <div class="form-group">
    <label for="tickerSymbol">Ticker Symbol</label>
    <input
      type="tickerSymbol"
      id="tickerSymbol"
      name="tickerSymbol"
      class="form-control"
      placeholder="Enter Ticker Symbol"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">Search</button>
</form>